extends layout

block content
  main#main
    h1.title-lv1 csv2json
    .stage
      section#droppable.box.non-data
        h2 ファイルをドロップしてください。
        .data
          .file
            span.file-title FileName: 
            span.file-name
          .content
      //section#response.box.data
      section#response.box.non-data
        h2 変換後のjsonデータが表示されます。
        .data
          .content
          form( action="post" )

          a.link( href="/api/downlaod" download="csv2json.json" target="_blank" ) Download

block footer_scripts
  script( src='/js/libs/jquery/1.11.2/jquery-1.11.2.min.js' )
  script( src='/js/libs/velocity/1.2.1/velocity.min.js' )
  script( src='/js/libs/lodash/3.3.1/lodash.min.js' )
  script( src='/js/content/file.js' )
