extends layout

block content
  #droppable
    header#header.header
      h1.title-lv1 csv2json
      // button ?

    main#main.main

      section#inputfile.inputfile
        .wrap
          h2 読み込まれたファイル
          .file
            span.file-title FileName: 
            span.file-name
          .content

      section#outputfile.outputfile
        .wrap
          h2 変換後のjsonデータ
          .file
            span.file-title FileName: 
            span.file-name
          .content

      #download.download
        a.link( href="/api/downlaod" download="csv2json.json" target="_blank" )
          | <span class="flaticon-download168"></span>Download json file.

block footer_scripts
  script( src='/js/libs/jquery/1.11.2/jquery-1.11.2.min.js' )
  script( src='/js/libs/velocity/1.2.1/velocity.min.js' )
  script( src='/js/libs/lodash/3.3.1/lodash.min.js' )
  script( src='/js/content/file.js' )
