doctype html
html
  head
    title= csv2json
    link( rel='stylesheet', href='/css/style.css' )
    link( rel='stylesheet', href='/css/font/flaticon.css' )
  body
    block content
    block footer_scripts
